.text {
    &--uppercase {
        text-transform: uppercase;
    }
    &--inverted {
        color: color-var(--global__colors__white);
    }
    &--primary {
        color: color-var(--global__colors__primary);
    }
    &--cursive {
        font-family: $font-family-cursive;
        font-size: 28px;
        line-height: .5em;
    }
    &--bold {
        font-weight: 700;
    }
}

.vertical-line {
    width: 1px;
    height: 50px;
    background: color-var(--global__colors__gray-lighter);
    border: none;
    margin-bottom: var(--global__sizing__text-spacing--half);
}

.horizontal-line {
    margin-top: var(--global__sizing__layout-spacing--half);
    margin-bottom: var(--global__sizing__layout-spacing--half);
    margin-left: 0;
    width: var(--global__sizing__text-spacing--double);
    background-color: color-var(--global__colors__primary);
    height: 3px;
    border: none;
    transition: all .25s ease-in-out;
}

%list--inline,
.list--inline {
    @include list-unstyled;

    > li {
        display: inline-block;
        padding-left: var(--block-text__lists__item-inline-spacing-horizontal);
        padding-right: var(--block-text__lists__item-inline-spacing-horizontal);

        &:first-child {
            padding-left: 0;
        }
        &:last-child {
            padding-right: 0;
        }
    }
}

.blockquote {
    color: color-var(--global__colors__white);
    &__quote {
        line-height: 1.1;
    }
}
