.button {
    text-transform: uppercase;
    font-size: 10px;
    padding: var(--global__sizing__layout-spacing--half) var(--global__sizing__layout-spacing--default);
    &--with-icon-vertical {
        display: flex;
        background: transparent;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        padding: 0;
        font-weight: 400;

        &:hover {
            background-color: transparent;
            text-decoration: none;
        }

        @include media-breakpoint-up(lg) {
            > *:not(:last-child) {
                margin-bottom: var(--global__sizing__text-spacing--half);
            }
        }
    }
    &--with-icon-horizontal {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        > span {
            padding: var(--header__cta__padding-vertical) var(--header__cta__padding-horizontal);
            &:last-child {
                background-color: color-var(--global__colors__primary-dark);
                border-top-right-radius: var(--buttons__common__border--radius);
                border-bottom-right-radius: var(--buttons__common__border--radius);
            }
            svg {
                width: .75em;
                height: .75em;
            }
        }
    }
}
