input {
    &[type="submit"] {
        transition: all 0.75s ease-in-out;
        font-size: 10px;
        padding: var(--global__sizing__layout-spacing--half) var(--global__sizing__layout-spacing--default);
    }
    &[type="tel"] {
        border: var(--form-fields__common__border--width) solid color-var(--form-fields__common__border--color);
        border-radius: var(--form-fields__common__border--radius);
        background-color: color-var(--form-fields__common__background-color);
        padding: var(--form-fields__common__padding-vertical) var(--form-fields__common__padding-horizontal);
    }
    &[type="checkbox"] {
        border: 1px solid color-var(--global__colors__gray-dark);
        margin-right: var(--global__sizing__text-spacing--half);
    }
    &::placeholder {
        color: color-var(--global__colors__white);
        opacity: 1;
    }
}

input, select {
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0 30px color-var(--form-fields__common__background-color) inset !important;
        -webkit-text-fill-color: color-var(--global__colors__white);
    }
}

input,
textarea,
select {
    color: color-var(--global__colors__white);
}

select {
    background-image: url(../images/chevron-down.png);
    background-size: 10px;
    background-position: 96.5% 50%;
    background-repeat: no-repeat;
}

form {
    hr {
        margin: 0;
    }
    > * {
        margin-bottom: var(--global__sizing__layout-spacing--default);

        &:last-child {
            margin-bottom: 0;
        }
    }
}

label {
    line-height: 1;
    span {
        color: #800000;
    }
    p {
        margin-bottom: 0;
    }
}
