.heading {
    color: color-var(--global__colors__gray-dark);
    line-height: 1.1;
    &--inverted {
        color: color-var(--global__colors__white);
    }
    &--primary {
        color: color-var(--global__colors__primary);
    }
    &--mb-none {
        margin-bottom: 0;
    }
}
