.accordion-panel {
    &__button {
        padding: var(--global__sizing__layout-spacing--half);

        &:hover {
            background-color: rgba(0, 0, 0, 0.04);

            .heading,
            .icon-use {
                color: color-var(--global__colors__primary);
            }
        }
    }

    &__heading {
        margin-bottom: 0;
    }

    &__content {
        padding-left: var(--global__sizing__layout-spacing--double);
        text-align: left;
    }

    .heading {
        margin-bottom: 0;
        color: #6a6a6a;
        display: flex;
        align-items: center;
        transition: color 0.15s ease-in-out;

        .icon {
            margin-right: var(--global__sizing__layout-spacing--half);
            transition: color 0.15s ease-in-out;
        }
    }
    &--expanded {
        .accordion-panel {
            &__button {
                background-color: rgba(0, 0, 0, 0.04);

                .heading,
                .icon-use {
                    color: color-var(--global__colors__primary);
                }
            }
        }
    }
}
