.breadcrumbs {
    @include media-breakpoint-down(sm) {
        font-size: 10px;
    }
    &__item {
        &,
        > a {
            color: color-var(--global__colors__white);
        }
        svg {
            width: .75em;
            height: .75em;
        }
    }
    > * {
        &:nth-child(2n) {
            padding: 0;
        }
    }
}
