.content-section {
    .content-background-image {
        filter: brightness(75%);
    }
    &--dark.content-section--has-bg {
        background-color: color-var(--global__colors__gray-dark);
    }
    &--darker.content-section--has-bg {
        background-color: color-var(--global__colors__gray-darker);
    }
    &--gray-light.content-section--has-bg {
        background-color: color-var(--global__colors__gray-light);
    }
    &--gray-lighter.content-section--has-bg {
        background-color: color-var(--global__colors__gray-lighter);
    }
    &--white.content-section--has-bg {
        background-color: color-var(--global__colors__white);
    }
    &--black.content-section--has-bg {
        background-color: color-var(--global__colors__black);
    }
    &--width-full:first-child {
        .content-section__container {
            padding: 0;
        }
        .responsive-spacer {
            @include media-breakpoint-down(md) {
                height: calc(5 * var(--global__sizing__layout-spacing--default));
            }
        }
    }
    &--arrow {
        &:before {
            content: '';
            position: absolute;
            top: var(--global__sizing__layout-spacing--half);
            left: 50%;
            transform: translate3d(-50%, -50%, 0);
            width: 0;
            height: 0;
            border-left: 20px solid transparent;
            border-right: 20px solid transparent;
            border-top: 20px solid color-var(--global__colors__gray-lighter);
        }
    }
    &--arrow-darker {
        &:before {
            content: '';
            position: absolute;
            top: var(--global__sizing__layout-spacing--half);
            left: 50%;
            transform: translate3d(-50%, -50%, 0);
            width: 0;
            height: 0;
            border-left: 20px solid transparent;
            border-right: 20px solid transparent;
            border-top: 20px solid color-var(--global__colors__gray-darker);
        }
    }
    &--full-hybrid {
        .content-column {
            padding-top: var(--global__sizing__layout-spacing--double);
            padding-bottom: var(--global__sizing__layout-spacing--double);
            &:first-child {
                .content-column__inner {
                    margin-right: 0;
                }
            }
            &:last-child {
                .content-column__inner {
                    margin-left: 0;
                }
            }
            @include media-breakpoint-down(sm) {
                margin-bottom: 0;
            }
        }
        .content-column__inner {
            @include media-breakpoint-up(md) {
                max-width: 610px;
                margin: 0 auto;
            }
        }
    }
    &--tile {
        .vc-single-image {
            overflow: hidden;
            &__image {
                filter: grayscale(100%);
                transition: all 0.25s ease-in-out;
                transform: scale(1);

                &:hover {
                    filter: none;
                    transform: scale(1.15);
                }
            }
        }
    }
    &--col-sm {
        .content-column {
            @include media-breakpoint-between(sm,md) {
                flex: 0 0 33.3333333333%;
                max-width: 33.3333333333%;
            }
        }
    }
    &--icons-grid {
        .content-row {
            justify-content: center;
        }
        .content-column {
            margin-bottom: var(--global__sizing__layout-spacing--double);

            @include media-breakpoint-between(sm,md) {
                flex: 0 0 33.3333333333%;
                max-width: 33.3333333333%;
            }

            &:last-child {
                margin-bottom: var(--global__sizing__layout-spacing--double);
            }
        }
    }
    &--team-member-grid,
    &--locations-grid {
        .content-row:last-child {
            justify-content: center;
            .content-column {
                @media only screen and (min-width: 576px) and (max-width: 767px) {
                    flex: 0 0 50%;
                    max-width: 50%;
                }
            }
        }
    }
    &--practice-area-grid {
        .content-row:last-child {
            justify-content: center;
            .content-column {
                @media only screen and (min-width: 576px) and (max-width: 767px) {
                    flex: 0 0 33.33333%;
                    max-width: 33.33333%;
                }
            }
        }
    }
    &--ticker-tape-slider {
        .content-section {
            &__container {
                padding-left: 0;
                padding-right: 0;
            }
        }
        .owl-stage {
            display: flex;
            align-items: center;
        }
        .owl-stage-outer {
            margin-bottom: 0;
        }
    }
}
