.content-column {
    &--has-bg .content-background-image {
        position: static;
    }
    &--darker.content-column--has-bg {
        background-color: color-var(--global__colors__gray-darker);
    }
    &--gray-light.content-column--has-bg {
        background-color: color-var(--global__colors__gray-light);
        color: color-var(--global__colors__gray-darker);
    }
    &--gray-lighter.content-column--has-bg {
        background-color: color-var(--global__colors__gray-lighter);
    }
    &--pull-up {
        .content-background-image {
            z-index: 0;
        }
    }
}
