.content-row {
    &--mb-quad-mobile {
        @include media-breakpoint-down(sm) {
            .content-column {
                margin-bottom: calc(var(--global__sizing__layout-spacing--double) * 1.5);
            }
        }
    }
    &--flex-aligned {
        .content-column__inner {
            display: flex;
            flex-flow: column;
            justify-content: space-between;
        }
    }
}
