.content-slider {
    margin: 0;
    .owl-nav {
        display: none;
    }
    &__navigation {
        text-align: left;
        max-width: var(--global__sizing__container-max-width,1230px);
        margin: 0 auto;
        position: absolute;
        bottom: 0;
        left: var(--global__sizing__layout-spacing--half);
        z-index: 1;
        right: 0;
        button {
            border: 0;
            background: color-var(--global__colors__primary-dark, .25);
            padding: var(--global__sizing__layout-spacing--half);
            @include media-breakpoint-up(md) {
                padding: var(--global__sizing__layout-spacing--default);
            }
            svg {
                width: 1.5em;
                height: 1.5em;
                @include media-breakpoint-up(md) {
                    width: 2em;
                    height: 2em;
                }
            }
            .icon-use {
                color: color-var(--global__colors__white);
            }
        }
    }
}
