.custom-form {
    &__errors {
        background-color: $red;
        color: color-var(--global__colors__white);
        padding: var(--global__sizing__layout-spacing--default);
        > * {
            margin-bottom: var(--global__sizing__text-spacing--half);
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    &__progress-bar {
        flex-flow: column nowrap;
        margin-bottom: var(--global__sizing__layout-spacing--default);
    }
    &__progress {
        border: none;
        width: 100%;
        height: 34px;
        //background: color-var(--global__colors__gray-lighter);
        color: color-var(--global__colors__primary);

        &::-webkit-progress-value {
            background: color-var(--global__colors__primary);
        }

        &::-moz-progress-bar {
            background: color-var(--global__colors__primary);
        }

        &::-webkit-progress-value {
            background: color-var(--global__colors__primary);
        }

        &::-webkit-progress-bar {
            background: color-var(--global__colors__gray-lighter);
        }
    }
    &__row {
        display: flex;
        flex-flow: column nowrap;
        > * {
            margin-bottom: var(--global__sizing__layout-spacing--default);

            &:last-child {
                margin-bottom: 0;
            }
        }
        &--inactive {
            display: none !important;
        }
    }
    &__fields-container,
    &__fields-section,
    &__row-inner {
        > * {
            margin-bottom: var(--global__sizing__layout-spacing--default);

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    &__fields-section {
        display: flex;
        flex-flow: column nowrap;
    }
    &__fields {
        display: flex;
        flex-flow: row wrap;
        > * {
            margin-bottom: var(--global__sizing__layout-spacing--default);
            flex-basis: 100%;
            width: 100%;
            @include media-breakpoint-up(sm) {
                flex-basis: calc(50% - 10px);
                width: calc(50% - 10px);
                margin-left: 10px;
                margin-right: 10px;

                &:nth-child(odd) {
                    margin-left: 0;
                }

                &:nth-child(even) {
                    margin-right: 0;
                }

                &:nth-last-child(-n+2) {
                    margin-bottom: 0;
                }
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    &__button-container {
        display: flex;
        justify-content: center;
    }
    &__field {
        display: flex;
        flex-flow: column nowrap;
        > * {
            margin-bottom: var(--global__sizing__text-spacing--half);
            &:last-child {
                margin-bottom: 0;
            }
        }
        &--checkbox {
            > label {
                display: flex;
                align-items: center;
                position: relative;
                input:checked:before {
                    content: '\2713';
                    width: var(--form-fields__checked__size);
                    height: var(--form-fields__checked__size);
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    top: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: color-var(--global__colors__gray-darker);
                }
            }
        }
    }
    &__heading-container {
        display: flex;
        justify-content: space-between;
        flex-flow: column nowrap;

        > * {
            margin-bottom: var(--global__sizing__layout-spacing--half);

            &:last-child {
                margin-bottom: 0;
            }
        }

        @media only screen and (min-width: 400px) {
            flex-flow: row nowrap;
            align-items: center;

            > * {
                margin-bottom: 0;
            }
        }
        .custom-form__button-container {
            @media only screen and (max-width: 399px) {
                justify-content: flex-start;
            }
            > * {
                margin: 0 var(--global__sizing__layout-spacing--half);

                &:first-child {
                    margin-left: 0;
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }
        .custom-form__other-copy,
        .custom-form__copy {
            border: 1px solid #ccc;
            background-color: var(--global__colors__gray);
        }
        .custom-form__other-remove,
        .custom-form__remove {
            background-color: $red;
            color: color-var(--global__colors__white);
        }
    }
    &__copy,
    &__other-copy,
    &__button-container,
    &__button {
        &--inactive {
            display: none;
        }
    }
    &__submit {
        &--inactive {
            display: none !important;
        }
        &--success {
            background-color: $green;
        }
    }
    strong {
        margin-bottom: 0;
        > span {
            color: #800000;
        }
    }
}
