.footer-nav {
    background-color: color-var(--global__colors__gray-darker);
    border-top: 2px solid color-var(--global__colors__primary);
    color: color-var(--global__colors__white);
    @include media-breakpoint-down(xs) {
        text-align: center;
    }
    .custom-form__field:not(.custom-form__field--checkbox) label {
        display: none;
    }
    .custom-form__field--checkbox label span {
        color: color-var(--global__colors__white);
    }
    textarea {
        color: color-var(--global__colors__white, .5);
    }
    .heading {
        color: color-var(--global__colors__white);
    }
    &__main {
        //background-image: url('../images/footer-background.jpg');
        //background-position: center;
        //background-size: cover;
        //background-repeat: no-repeat;
    }
    &__row {
        @include media-breakpoint-down(xs) {
            > * {
                margin-bottom: var(--global__sizing__layout-spacing--default);
            }
        }
    }
    &__column {
        @include media-breakpoint-down(xs) {
            padding: 0 var(--global__sizing__layout-spacing--half);
            &:first-child {
                padding-top: var(--global__sizing__layout-spacing--double);
            }
        }
        @include media-breakpoint-up(sm) {
            padding: var(--global__sizing__layout-spacing--double) var(--global__sizing__layout-spacing--half);
        }
    }
    &__column-inner {
        > * {
            margin-bottom: var(--global__sizing__layout-spacing--half);
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    &__logo {
        max-width: 150px;
        @include media-breakpoint-up(sm) {
            max-width: 275px;
        }
    }
    &__list {
        a {
            color: color-var(--global__colors__white);

            &:hover {
                color: color-var(--global__colors__primary)
            }
        }
    }
    &__menu {
        .nav-menu {
            &__list {
                @extend %list--inline;
                margin-bottom: 0;
                font-size: 10px;
            }
            &__item {
                a {
                    color: color-var(--global__colors__white);
                    &:hover {
                        color: color-var(--global__colors__primary);
                    }
                }
            }
        }
    }
    &__bottom {
        background-color: color-var(--global__colors__gray-dark);
        padding: var(--global__sizing__text-spacing--default);
        .footer-nav__container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-flow: column nowrap;

            @include media-breakpoint-down(sm) {
                > * {
                    text-align: center;
                    margin-bottom: var(--global__sizing__text-spacing--default);

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }

            @include media-breakpoint-up(md) {
                justify-content: space-between;
                flex-flow: row nowrap;
            }
        }
    }
    &__menu {
        display: flex;
        align-items: center;
        .nav-menu {
            &__list {
                flex-flow: row wrap;
                justify-content: center;
                @include media-breakpoint-down(xs) {
                    > li {
                        padding: 0;
                    }
                }
            }
        }
    }
    &__copyright {
        > * {
            margin-bottom: 0;
        }
    }
}

