.header-nav {
    background-color: color-var(--global__colors__gray-darker);
    display: flex;
    flex-flow: column nowrap;
    color: color-var(--global__colors__white);

    a {
        color: color-var(--global__colors__white);

        &:hover {
            color: color-var(--global__colors__white);
            text-decoration: none;
        }
    }

    > div {
        padding: var(--global__sizing__text-spacing--default) 0;
    }

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        max-width: 150px;
        @include media-breakpoint-up(sm) {
            max-width: 275px;
        }
    }

    &__list {
        display: inline-flex;
        align-items: center;
        margin-bottom: 0;

        > li {
            display: flex;
            flex-flow: column nowrap;
        }

        .button--with-icon-vertical {
            font-size: 14px;
            text-transform: none;

            &:hover {
                color: color-var(--global__colors__primary);
            }

            @include media-breakpoint-down(md) {
                small {
                    display: none;
                }
            }
        }
    }

    &__list-item {
        &--email {
            .icon {
                margin-right: 3px;
            }
        }

        &--phone,
        &--email {
            @include media-breakpoint-down(md) {
                .icon.icon-style-primary .icon-use {
                    color: color-var(--global__colors__white);
                }
                > small,
                > a > span:last-child {
                    display: none
                }
            }
        }
    }

    &__bottom {
        background-color: color-var(--global__colors__gray-dark);
    }

    &__menu {
        padding: 0;

        @include media-breakpoint-up(sm) {
            flex-basis: 75%;
            width: 75%;
        }
    }

    &__cta {
        flex-basis: auto;
        width: auto;
    }

    &__portal-link {
        svg {
            margin-right: var(--global__sizing__text-spacing--half);
        }
        > span:last-child {
            @media only screen and (max-width: 767px) {
                display: none;
            }
        }
    }
}
