.horizontal-rule-with-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    &__hr {
        height: 1px;
        margin: 0 auto;
        width: calc(var(--global__sizing__text-spacing--double) * 3);

        @include media-breakpoint-up(sm) {
            width: calc(var(--global__sizing__text-spacing--double) * 6);
        }
        &:first-child {
            margin-right: 0;
        }
        &:last-child {
            margin-left: 0;
        }
    }
    .icon {
        margin: 0 var(--global__sizing__layout-spacing--half);
        svg {
            width: 1.5em;
            height: 1.5em;
        }
    }
}
