.icon-card {
    text-align: center;
    color: color-var(--global__colors__white);
    &:hover {
        .icon-card {
            &__link {
                color: color-var(--global__colors__primary);
            }
            &__hr {
                width: calc(var(--global__sizing__text-spacing--double) * 4);
            }
        }
    }
    &__heading {
        margin-bottom: 0;
        color: color-var(--global__colors__white);
        .icon-card {
            &__link {
                display: flex;
                flex-flow: column nowrap;
                padding-top: var(--global__sizing__layout-spacing--default);
            }
            &__hr {
                margin-top: var(--global__sizing__layout-spacing--default);
            }
        }
    }
    &__icon {
        transition: all 0.25s ease-in-out;
        height: 42px;
        svg {
            width: 3em;
            height: 3em;
        }
    }
    &__hr {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: calc(var(--global__sizing__layout-spacing--default) - 5px);
    }
    &__link {
        width: 100%;
        height: 100%;
        display: inline-flex;
        justify-content: center;
        color: color-var(--global__colors__white);
        &:hover {
            color: color-var(--global__colors__primary);
            text-decoration: none;
        }
    }
}
