.image-card {
    position: relative;
    margin-top: 25px !important;
    margin-bottom: calc(var(--global__sizing__layout-spacing--half) + 70px) !important;

    &:hover {
        .image-card {
            &__image {
                //filter: none;
                transform: scale(1.15);
            }
        }
    }
    &__icon {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate3D(-50%,-50%,0);
        border-radius: 50%;
        background-color: color-var(--global__colors__primary);
        width: 50px;
        margin: 0 auto;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
        svg {
            width: 1.5em;
            height: 1.5em;
            .icon-use {
                color: color-var(--global__colors__white);
            }
        }
    }
    &__drawer {
        background-color: color-var(--global__colors__gray-dark);
        color: color-var(--global__colors__white);
        text-align: center;
        border-top: 3px solid color-var(--global__colors__primary);
        border-bottom: 3px solid color-var(--global__colors__primary);
        padding: var(--global__sizing__layout-spacing--default) var(--global__sizing__layout-spacing--half);
        position: absolute;
        left: var(--global__sizing__layout-spacing--half);
        right: var(--global__sizing__layout-spacing--half);
        bottom: -70px;
        > * {
            margin-bottom: var(--global__sizing__layout-spacing--default);

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    &__heading {
        text-transform: uppercase;
        color: color-var(--global__colors__white);
    }
    &__description {
        font-size: 20px;
        color: color-var(--global__colors__primary);
    }
    &__image-container {
        overflow: hidden;
    }
    &__image {
        z-index: -1;
        transition: all 0.25s ease-in-out;
        transform: scale(1);
    }
}
