#inquiry-form {
    &__step-display {
        .heading {
            display: inline-block;
            border-bottom: 2px solid color-var(--global__colors__gray-darker);
            width: auto;
            padding-bottom: 2px;
        }
    }
    &__step-1 {
        @include media-breakpoint-up(sm) {
            display: flex;
            flex-flow: row nowrap;
            > * {
                flex-basis: calc(33.33% - 10px);
                width: calc(33.33% - 10px);
                margin: 0 10px;

                &:first-child {
                    margin-left: 0;
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
    &__buttons {
        > .custom-form__row-inner {
            > * {
                margin-bottom: var(--global__sizing__layout-spacing--half);
                width: 100%;

                &:last-child {
                    margin-bottom: 0;
                }
                @include media-breakpoint-up(sm) {
                    margin-bottom: 0;
                    width: auto;
                }
            }
        }
    }
    &__property-sales-price {
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='16px' width='85px'><text x='2' y='13' fill='gray' font-size='12' font-family='arial'>$</text></svg>");
        padding-left: 25px;
        background-repeat: no-repeat;
        background-position: 5px 35%;
        background-size: 25%;
    }
    &__add-another,
    &__other-add-another {
        font-size: 12px;
    }
}

.inquiry-form-step-3-inactive {
    .custom-form {
        &__fields-container {
            margin-bottom: 0;
        }
        &__button-container {
            display: none;
        }
    }
}
