.list-card {
    position: relative;
    margin-top: 25px !important;

    &__icon {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate3D(-50%, -50%, 0);
        border-radius: 50%;
        background-color: color-var(--global__colors__primary);
        width: 50px;
        margin: 0 auto;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;

        svg {
            width: 1.5em;
            height: 1.5em;

            .icon-use {
                color: color-var(--global__colors__white);
            }
        }
    }

    &__heading-container,
    &__link-container {
        background-color: color-var(--global__colors__gray-darker);
        color: color-var(--global__colors__white);
        text-align: center;
    }

    &__heading-container {
        padding: calc(var(--global__sizing__layout-spacing--default) * 1.5) var(--global__sizing__layout-spacing--half);

        > * {
            margin-bottom: var(--global__sizing__text-spacing--default);

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__heading {
        text-transform: uppercase;
        color: color-var(--global__colors__white);
    }

    &__description {
        font-size: 20px;
    }

    &__content-container {
        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            > li {
                background-color: color-var(--global__colors__gray-light, .75);
                font-weight: bold;
                margin-bottom: 1px;
                text-align: center;
                text-transform: uppercase;
                transition: all 0.15s ease-in-out;

                &:first-child > a {
                    padding-top: var(--global__sizing__layout-spacing--default);
                }

                &:last-child > a {
                    margin-bottom: 0;
                    padding-bottom: var(--global__sizing__layout-spacing--default);
                }

                &:hover {
                    background-color: color-var(--global__colors__gray-light);
                }

                > a {
                    width: 100%;
                    display: inline-block;
                    text-decoration: none;
                    padding: var(--global__sizing__layout-spacing--half);
                }
            }
        }
    }

    &__link-container {
        border-bottom: 3px solid color-var(--global__colors__primary);
        padding: var(--global__sizing__layout-spacing--default) var(--global__sizing__layout-spacing--half);
    }
}
