@keyframes ticker-kf {
    0% {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(-3808px, 0, 0);
    }
}

.marquee {
    .content-column__inner {
        animation: ticker-kf 60s linear infinite;
        display: flex;
        > * {
            min-width: 224px;
            margin: 0;
        }
    }
}
