.nav-menu {
    &--open {
        background-image: url('../images/side-area-img.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        .nav-menu {
            &__list {
                font-size: 24px;
            }
            &__item--has-sub > a:after {
                @media only screen and (max-width: 767px) {
                    margin-top: 6px;
                    margin-left: 10px;
                }
            }
            &__toggle {
                top: calc(var(--header__nav-menu__padding-horizontal)*2);
                left: var(--header__nav-menu__padding-horizontal);
            }
            &__toggle-bar:before,
            &__toggle-bar:after {
                background-color: color-var(--global__colors__white) !important;
            }
        }
    }
    //&--open .nav-menu__item--has-sub > a:after {
    //    @media only screen and (max-width: 767px) {
    //        margin-top: 6px;
    //        margin-left: 10px;
    //    }
    //}
    &__list {
        font-weight: 400;
        text-transform: uppercase;
        @include media-breakpoint-up(md) {
            font-size: $font-size-small;
        }
    }
    &__item {
        @include media-breakpoint-up(sm) {
            &:first-child > a {
                padding-left: 0;
            }
            &:last-child > a {
                padding-right: 0;
            }
        }
    }
    &__toggle-label {
        color: color-var(--global__colors__white);
        display: block;
    }
    &__toggle-bar {
        background-color: color-var(--global__colors__white);
    }
    &__sub-list {
        @include media-breakpoint-up(md) {
            background-color: color-var(--global__colors__gray-darker) !important;
        }
        li.mobile-only {
            display: block;
            @include media-breakpoint-up(sm) {
                display: none;
            }
        }
        > li > a {
            &:hover {
                color: color-var(--global__colors__primary);
            }
        }
    }
}
