.simple-image-card {
    text-align: center;
    a {
        &:hover {
            text-decoration: none;
        }
    }
    &__heading > a {
        color: color-var(--global__colors__primary);
    }
    &__image-container {
        max-width: 400px;
        margin: 0 auto;
        padding: var(--global__sizing__layout-spacing--default);
    }
    &__image {
        border-radius: 50%;
    }
}
