.home {
    .content-section:first-child {
        margin-top: 0 !important;
        .content-column {
            padding-left: 0;
            padding-right: 0;
        }
        .content-slider {
            .content-slide {
                .vc-content-slide__inner {
                    display: flex;
                    flex-flow: column nowrap;
                    > .heading,
                    > .column-text {
                        margin: 0 auto;
                        background-color: color-var(--global__colors__black, 0.5);
                        padding: var(--global__sizing__layout-spacing--half);
                        @media only screen and (min-width: 768px) {
                            padding: var(--global__sizing__layout-spacing--default);
                        }
                    }
                    .heading--large {
                        font-size: 32px;
                        @media only screen and (min-width: 768px) {
                            font-size: 42px;
                        }
                    }
                }
            }
        }
    }
}
