.single-practice-area {
    //background-color: color-var(--global__colors__gray-darker);
    .content-section {
        &:first-child {
            .heading {
                color: color-var(--global__colors__white);
            }
        }
    }
    .discipline-card {
        padding: var(--global__sizing__layout-spacing--default);
        background-color: color-var(--global__colors__gray-light);
        //color: color-var(--global__colors__gray-dark);
    }
}
