$font-size-small: 12px;
$font-family-base: 'Roboto', sans-serif;
$font-family-cursive: 'Dynalight', cursive;

$icon-svg-size: 1em;
$icon-primary-color: color-var(--global__colors__primary);

$modal-max-width: 768px;

$green: #16e07e;
$red: #800000;
